*{
    margin: 0%;
    padding: 0%;
}

body{
    color: white;
    font-family: "Oxanium", sans-serif;
    background-color: rgb(13, 13, 43);
}

.padding{
    padding: 1% 5%;
}


div.hiddenmobile{
    display: none;
}

div.hiddenmobileonclick{
    display: none;
}

.inline{
    display: inline;
}

.nav .inline{
    display: inline;
    
}

.nav .flex{
    justify-content: flex-end;
}

.nav .inline li{
    display: inline;
    margin: 10px 20px;
}

.rowreverse{
    flex-direction: row-reverse;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 91%;
}

/*-------------------------------------------------Top navigation----*/
header nav div{
    justify-content: space-between!important;
    align-items: center;
    margin: 8px 10px 1px 0px;
}


/*-------------------------------------------------Header-------------*/
.mainheader h3{
    margin-top: 4vh;
    margin-bottom: 4vh;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: 100;
    line-height: 1rem;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.209);
    padding-right: 1rem;
    color: #ffffff;
}

.mainheader h3 span#save{
    background-color: white;
    font-size: 1em;
    color: rgba(13, 13, 43, 0.542);
    padding-bottom: .25rem;
    padding-top: .25rem;
    border-radius: 9999px;
    padding: 4px 16px;
    margin: 4px;


    transition-delay:0.4s ;
    transition-timing-function: ease;
    transition-duration: 2.5s;
}

.mainheader h1{
    padding: 8px 0px;
    list-style-type: z;
    line-height: 40px;
    font-size: 33px;
    font-weight: 600;
}


@media screen and (max-width:800px) {
    header #img{
        padding-top: 4vh;
        padding-bottom: 7vh;
    }
}

.mainheader p{
    padding: 8px 0px;
    line-height: 16px;
    margin-block-end: 12px;
    margin-bottom: 12px;
    font-size: 12px;
}
.mainheader h4{
    max-width: 190px;
}

.mainheader h4 a{
    background-color: rgb(40, 40, 255);
    color: white;
    padding: 5px 5px;
    border-radius: 9999px;
}

.mainheader h4 a span{
    padding-right: 7px;
    font-weight: 100;
}

/*----------------------------Below the header*/

.belowheader svg{
    padding: 15px;
    background-color: rgb(75, 85, 99);
    border-radius: 9999px;
}




.belowheader li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.belowheader li div{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    padding: 0px 3px;
}




.belowheader ul li div span{
    display: block;
    color: rgb(229, 231, 235);
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
}

/*---------------------why section-----------------*/

.why h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0px ;
}

.why p{
    font-size: 16px;
    color: rgb(156, 163, 175);
    line-height: 26px;
    padding-bottom: 3vh;
}

.why .flexdesktop{
    flex-direction: row-reverse;
}

.why a{
    color: white;
    background-color: rgb(59, 130, 246);
    border-radius: 9999px;
    line-height: 26px;
    padding: 6px 16px 9px 16px;
}

.why img{
    padding-bottom: 70px;
}




/*-------------------------------earn with us----------*/
.earnwithus{
    text-align: center;
}

.earnwithus h2{
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 20px;

}

.earnwithus p{
    font-size: 12px;
    color: rgb(156, 163, 175);
    line-height: 16px;
    padding-bottom: 10px;
}





/*----------------------------------Calculate_-----------------*/

.calculate{
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 24px;
    z-index: 5;
}

.calculate .flex{
    flex-direction: column;
}

.calculate input{
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    width: 89%;
    padding: 04px 0px;
    line-height: 28px;
    font-size: 20px;
    cursor: text;
    color: rgb(13, 13, 43);
}

.calculate input:focus{
    border: none ;
}

.calculate ::placeholder{
    color: rgb(13, 13, 43);
    font-family: "Oxanium", sans-serif;
}
.calculate select{
    width: 89%;
    border: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    color: rgb(13, 13, 43);
    line-height: 28px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 40px;
}

.calculate button{
    background-color: rgb(54, 113, 233);
    color: white;
    margin-top: 48px;
    margin-bottom: 40px;
    border-radius: 9999px;
    border: none;
    align-items: center;
    line-height: 28px;
    text-align: center;
    padding: 8px 32px;
    font-size: 18px;
    font-family: "Oxanium", sans-serif;
    align-self: flex-start;
}

.calculate p.blue{
    color: rgb(54, 113, 233)!important;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
}

.calculate span.blue{
    color: rgb(54, 113, 233)!important;
    display: block;
}

.calculate h2{
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 52px;
    font-weight: 700;
}

.calculate #revenue{
    font-size: 16px;
    line-height: 26px;
    color: rgb(107, 114, 128);
}








/*-------------------------------portfolio-----------*/

.portfolio a{
    color: white;
    background-color: rgb(59, 130, 246);
    border-radius: 9999px;
    line-height: 26px;
    padding: 6px 16px 9px 16px;
    
}

.portfolio .flexdesktop h3{
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 20px;
}

.portfolio .flexdesktop p{
    font-size: 12px;
    color: rgb(156, 163, 175);
    line-height: 16px;
    padding-bottom: 20px;
}

.portfolio .flexdesktop{
    margin: 5% 0px;
}

.portfolio  h2{
    margin: 30px 0px;
    padding: 0px 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
}


.portfolio img{
    padding: 6% 5%;
}

/*---------------------Subscribe Now---------------*/

.subscribe{
    margin-top: 3%;
    background-image: url("images/subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 30px 5% 20px;
    border-radius: 6px;
    color: white;
}

.subscribe h2{
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.subscribe p{
    font-size: 12px;
    line-height: 14px;
    max-width: 400px;
    margin-bottom: 20px;
}

.subscribe input{
    color: white;
    background: inherit;
    font-size: 16px;
    padding: 4px 0px;
    width: 100%;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid white;
}

.subscribe ::placeholder{
    color: white;
    font-family: "Oxanium", sans-serif;
}

.subscribe button{
    background-color: white;
    color: black;
    margin: 20px 0px;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-items: flex-start;
    padding: 8px 16px;
    font-family: "Oxanium", sans-serif;
}




/*-----------------------------------------The footer----*/
footer{
    text-align: center;
    margin: 12% 5% 1% 5%;
}


footer .flexdesktop > div{
    margin-bottom: 46px;
}

footer .flexdesktop > div h3{
    line-height: 28px ;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 26px;
}

footer .flexdesktop > div li{
    margin-top: 16px;
}

footer .flexdesktop > div h4{
    line-height: 26px ;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
    padding: 1px 20px;
}

footer .flexdesktop .flex{
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

footer .footer{
    line-height: 26px ;
    font-weight: 500;
    font-size: 16px;
}


footer.footer {
    color: white;
    background-color: inherit;
    justify-content: space-between;
}

footer .footer img{
    width: 25px;
    height: 25px;
    padding: 10px;
    color: white;
    background-color: inherit;
}


/*--------------------------------------------Trade-------------*/


.trade{
    background-color: rgb(255,251,255,0.96);
    opacity: 1;
    margin-top:-128px ;
    color: black;
    padding: 3%;
    padding-top: 170px;
    text-align: center;
}

.trade h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 44px;
    padding: 0px 4%;
}

.trade li{
    background-color: white;
    height: 448px;
    border-radius: 16px;
    margin: 20px 0px;
}

.trade li> img{
    padding: 48px;
}

.trade li h2{
    line-height: 52px;
    font-size: 32px;
    font-weight: 2em;
}

.trade li h2 sup{
    color:rgb(156, 163, 175);
    font-size: 18px;
    font-weight: 500;
}

.trade li p{
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 26px;
    font-size: 12px;
}

















@media screen and (min-width:600px) {
    .mainheader{
        padding: 1% 10%;
    }

    .portfolio  h2{
        max-width: 758px;
        font-size: 2em;
    }

    

    

   
    
}





@media screen and (min-width:860px) {
    .flexdesktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5%;
    }

    div .hiddenmobile{
        display: block;
    }
    div.hiddenmobileonclick{
        display: none;
    }  
    .hiddendesktop{
        display: none;
    }

    

    .trade li{
        padding: 0px 32px;
        margin: 20px;
    }

    footer .flexdesktop{
        align-items: flex-start;
    }

    .why{
        margin-top: -100px;
        margin-bottom: 100px;
    }

    
    .why img{
        padding-bottom: 10px;
    }

    .subscribe input{
        width: 35%;
    }

    .calculate span.blue{
        display: inline;
        padding-left:10px ;
    }
    .mainheader h1{
        line-height: 48px;
        font-size: 40px;
        width: 150%;
    }

    .belowheader{
        padding-top: 10%;
        padding-bottom: 15%;
    }

    header nav div{
        margin: 20px 0px 2px 50px;
    }

    footer #resources, #quick{
        width: 120px;
        text-align: left;
    }
    
    .belowheader svg{
        padding: 12px;
    }
    .calculate .flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    

    .calculate select{
        margin: 11px 3vw;
        width: 30%;
        margin-bottom: 0px;

    }
    
   

}

@media screen and (min-width:900px) {
    .mainheader{
        padding: 1% 10%;
    }
    
}