*{
    margin: 0%;
    padding: 0%;
}

body{
    padding:  1% 5%;
    color: white;
    font-family: Oxanium, sans-serif;
    background-color: rgb(13, 13, 43);
}



.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 91%;
}

/*-------------------------------------------------Top navigation----*/
header nav div{
    justify-content: space-between!important;
    align-items: center;
    margin: 8px 10px 1px 0px;
}


/*-------------------------------------------------Header-------------*/
.mainheader h3{
    margin-top: 4vh;
    margin-bottom: 4vh;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: 100;
    line-height: 1rem;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.209);
    padding-right: 1rem;
    color: #ffffff;
}

.mainheader h3 span#save{
    background-color: white;
    font-size: 1em;
    color: rgba(13, 13, 43, 0.542);
    padding-bottom: .25rem;
    padding-top: .25rem;
    border-radius: 9999px;
    padding: 4px 16px;
    margin: 4px;


    transition-delay:0.4s ;
    transition-timing-function: ease;
    transition-duration: 2.5s;
}

.mainheader h1{
    padding: 8px 0px;
    list-style-type: z;
    line-height: 1em;
    font-size: 2em;
}


@media screen and (max-width:800px) {
    header #img{
        padding-top: 4vh;
        padding-bottom: 7vh;
    }
}

.mainheader p{
    padding: 8px 0px;
    line-height: 16px;
    margin-block-end: 12px;
    margin-bottom: 12px;
    font-size: 12px;
}
.mainheader h4{
    max-width: 190px;
}

.mainheader h4 a{
    background-color: rgb(40, 40, 255);
    color: white;
    padding: 5px 5px;
    border-radius: 9999px;
}

.mainheader h4 a span{
    padding-right: 7px;
    font-weight: 100;
}

/*----------------------------Below the header*/

.belowheader svg{
    padding: 25px;
    background-color: rgb(75, 85, 99);
    max-width: 80px;
    max-height: 80px;
    border-radius: 9999px;
}




.belowheader li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.belowheader ul span{
    display: block;
    color: rgb(229, 231, 235);
    font-size: .7em;
    line-height: 16px;
}

.belowheader li{
    padding: 2%;
}



/*---------------------why section-----------------*/

.why h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0px ;
}

.why p{
    font-size: 16px;
    color: rgb(156, 163, 175);
    line-height: 26px;
    padding-bottom: 3vh;
}

.why .flexdesktop{
    flex-direction: row-reverse;
}

.why a{
    color: white;
    background-color: rgb(59, 130, 246);
    border-radius: 9999px;
    line-height: 26px;
    padding: 6px 16px 9px 16px;
}

.why img{
    padding-bottom: 70px;
}


/*-------------------------------hash rate----------*/



































@media screen and (min-width:600px) {
    .mainheader{
        padding: 1% 10%;
    }
    

    
    
    
}





@media screen and (min-width:800px) {
    .flexdesktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .why{
        margin-top: -100px;
        margin-bottom: 100px;
    }

    
    .why img{
        padding-bottom: 10px;
    }


    .belowheader{
        padding-top: 10%;
        padding-bottom: 15%;
    }

    header nav div{
        margin: 20px 0px 2px 50px;
    }
    
    .belowheader svg{
        padding: 12px;
    }

    

}

@media screen and (min-width:900px) {
    .mainheader{
        padding: 1% 10%;
    }
    
}